:host {
  display: block;
};

.users {
  width: 1460px;
  margin: 0 auto 100px;
  padding-top: 220px;
  min-height: calc(100vh - 220px - 587px - 100px);
  background: #F3F5F4;
  &__title {
    margin: 0 0 40px;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 48px;
    line-height: 62%;
    color: #1D3939;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    gap: 25px;
    justify-content: center;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 558px;
    min-height: 105px;
    margin: 0 auto;
    padding: 20px 40px;
    background: #B15757;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
  }
};