<div class="messages">
  @for (message of messageService.messages; track message.id) {
    <div class="message-card">
      <img class="message-card__icon" src="/images/messages/icon-message.png" [alt]="message.type" />
      <div class="message-card__content">
        <div class="message-card__type">{{ message.type }}</div>
        <div class="message-card__text">{{ message.text }}</div>
      </div>
      <button class="message-card__delete" (click)="messageService.closeMessage(message.id)">
        <img src="/images/messages/icon-delete.png" alt="Закрыть" />
      </button>
    </div>
  }
</div>