:host {
  display: block;
};

.app-main {
  display: block;
  position: relative;
  z-index: 1;
};

.loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18121E;
  z-index: 9999;
  &__icon {
    width: 80px;
    height: 80px;
    filter: brightness(0) invert(1);
    animation: loader-spin 0.5s linear infinite;
  }
};

@keyframes loader-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}