<div class="hero-wrapper">
  <header class="header">
    <div class="header__container">

      <div class="header__logo">
        <img src="/images/logo-icon.svg" alt="logo">
        <span class="header__logo-text white-text">{{ companyName }}</span>
      </div>

      <nav class="header__nav white-text">
          <a>Главная</a>
          <a>Про гида</a>
          <a>Программа тура</a>
          <a>Стоимость</a>
          <a>Блог</a>
          <a>Контакты</a>
      </nav>

      <div class="header__actions white-text">
        <button>Консультация</button>
      </div>
    </div>
  </header>

  <section class="banner">
    <div class="hero__content">
      <h1 class="hero__title white-text">
        Насладись прогулкой в горах<br>
        с командой единомышленников
      </h1>
    </div>
  </section>

  <section class="search-panel">
    <div class="search-panel__inner">

      <div class="field">
        <div class="field__input">
          <span>Локация для тура</span>
          <img src="/images/arrow-down.svg">
        </div>
        <div class="field__hint">выберите из списка</div>
      </div>

      <div class="field">
        <div class="field__input">
          <span>Дата похода</span>
          <img src="/images/date.svg">
        </div>
        <div class="field__hint">укажите дату</div>
    </div>

      <div class="field">
        <div class="field__input">
          <span>Участники</span>
          <img src="/images/arrow-down.svg">
        </div>
        <div class="field__hint">выберите из списка</div>
    </div>

    <button class="search-panel__btn">
      Найти программу
    </button>

    </div>
  </section>
</div>