@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
}

.container {
  display: block;
  width: 1920px;
}

:root {
  --primary-color: #18121E80;
  --white-color: #fff;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}